@page "/"

<PageTitle>Calculadora Subnetting</PageTitle>

<div id="title">
	<h1>Calculadora de Subnetting (FLSM)</h1>
</div>
<br />
<div id="description">
	Esta es una calculadora de redes con el uso de subnetting mediante el método FLSM (Máscara de Red Fija)
</div>
<div>
	<table>
	</table>
</div>

@code {

}