@page "/"

<PageTitle>Calculadora Subnetting</PageTitle>
<div id="div1">
	<div id="title">
		<h1>Calculadora de Subnetting (FLSM)</h1>
	</div>
	<br />
	<div id="description">
		Esta es una calculadora de redes con el uso de subnetting mediante el método FLSM (Máscara de Red Fija)
	</div>
</div>
<br />
<div id="table1">
	<table>
		<tr>
			<td>a</td>
			<td colspan="4">a</td>
		</tr>
		<tr>
			<td>a</td>
			<td colspan="2">a</td>
			<td colspan="2">a</td>
		</tr>
		<tr>
			<td>a</td>
			<td colspan="2">a</td>
			<td colspan="2">a</td>
		</tr>
		<tr>
			<td>a</td>
			<td colspan="2">a</td>
			<td colspan="2">a</td>
		</tr>
		<tr>
			<td>a</td>
			<td colspan="2">a</td>
			<td colspan="2">a</td>
		</tr>
		<tr>
			<td>a</td>
			<td colspan="2">a</td>
			<td>a</td>
			<td>a</td>
		</tr>
		<tr>
			<td colspan="5">a</td>
		</tr>
	</table>
</div>

@code {

}