@page "/"

<PageTitle>Calculadora Subnetting</PageTitle>
<div id="div1">
	<div id="title">
		<h1>Calculadora de Subnetting (FLSM)</h1>
	</div>
	<br />
	<div id="description">
		<h5>Esta es una calculadora de redes con el uso de subnetting mediante el método FLSM (Máscara de Red Fija)</h5>
	</div>
	<br />
	<br />
	<div id="request">
		Introduce una Dirección IP con una máscara de red, el tamaño de las redes y la cantidad de subredes que deseas
	</div>
</div>
<div id="div-table1">
	<table class="my-border">
		<tr>
			<td class="center my-border">Dirección IP y Máscara</td>
			<td colspan="4" class="my-border"><input type="text" placeholder="Dirección IP" /></td>
		</tr>
		<tr class="center">
			<td rowspan="5" class="my-border">Subredes</td>
			<td colspan="2" class="right-border">Nombre</td>
			<td colspan="2">Tamaño</td>
		</tr>
		<tr>
			<td colspan="2" class="right-border"><input type="text" placeholder="Subred x" /></td>
			<td colspan="2"><input type="text" placeholder="Nº Hosts" /></td>
		</tr>
		<tr>
			<td colspan="2" class="right-border"><input type="text" placeholder="Subred x" /></td>
			<td colspan="2"><input type="text" placeholder="Nº Hosts" /></td>
		</tr>
		<tr>
			<td colspan="2" class="right-border"><input type="text" placeholder="Subred x" /></td>
			<td colspan="2"><input type="text" placeholder="Nº Hosts" /></td>
		</tr>
		<tr class="top-border">
			<td class="center">Número de subredes:</td>
			<td colspan="2"><input type="text" placeholder="Nº" /></td>
			<td><button type="submit">Change</button></td>
		</tr>
		<tr>
			<td colspan="5" class="my-border"><button type="submit">Submit</button></td>
		</tr>
	</table>
</div>

@code {

}